main {
  min-height: calc(100vh - 160px);
  padding-top: 20px;
}

.footer {
  background-color: #4a148c;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 60px;
}

.footer p {
  margin: 0;
}
